@model IEnumerable<AegisToDo.Models.ToDoItem>

@{
    ViewBag.Title = "Aegis ToDo Application";
}

<body>
    <header>
        <h3>@ViewBag.Message</h3>
    </header>
    <div>
        <table>
            <tr>
                <th>ToDo Title</th>
                <th>Done</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.IsDone</td>
                </tr>

            }
        </table>
    </div>
</body>

