@model IEnumerable<AegisToDo.Models.ToDoItem>

@{
    ViewBag.Title = "Aegis ToDo Application";
}

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<div class="jumbotron">
    <h3><strong>@ViewBag.Title</strong></h3>
    <h4>@ViewBag.Message</h4>
</div>

