body {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banner {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: white;
    background-color: black;
    text-align: center;
}

.banner h1{
    line-height: 1;
}


.bottom-banner{
    padding: 10px;
    font-size: 14px;
    font-weight: normal;  
    line-height: 1;
    color: white;
    background-color: black; 
    text-align: right;
    position:fixed;
    width: 100%;
    bottom:0;
    left:0;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}



